<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Hair Log</title>
  </head>
  <body>
    <div class="hairlog-header">
        <%- include('../partials/_navbar.ejs') %> 
        <h2>Welcome back, <%= user.username %></h2>
        <p><%= new Date().toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' }) %></p>
        <h3>My Hair Logs</h3>
        <a href="/users/<%=user._id%>/hairlogs/new" class="button primary"><i class="bx bx-plus"></i> Add a New Log</a>

        <a href="/users/<%= user._id %>/products/new" class="button primary">
            <i class="bx bx-plus"></i> Add a New Product
        </a>

        <a href="/users/<%= user._id %>/recipes/new" class="button primary">
            <i class="bx bx-plus"></i> Add a New DIY Recipe
        </a>
    </div>

    <div class="hairlog-container">
        <% hairlogs.forEach((hairlog) => { %>
          <div class="card">
            <a href="/users/<%= user._id %>/hairlogs/<%= hairlog._id %>" class="card-content">
              <p class="hairlog-date"><%= hairlog.date.toLocaleDateString() %></p>
              <h4 class="hairlog-title"><%= hairlog.title %></h4>
              <% if (hairlog.notes) { %>
                <p class="hairlog-notes"><%= hairlog.notes.length > 50 ? hairlog.notes.substring(0, 50) + '...' : hairlog.notes %></p>
              <% } %>
            </a>
          </div>
        <% }) %>
      </div>
  </body>
</html>