<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Hair Log</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %> 
    <h2>Welcome, <%= user.username %></h2>
    <h1>My Hair Log</h1>
    <a href="/users/<%=user._id%>/hairlogs/new">Add a New Log</a>
    <ul>
        <% hairlogs.forEach((hairlog)=>{ %>
        <li>
            <a href="/users/<%= user._id %>/hairlogs/<%= hairlog._id %>">
            <%= hairlog.title %> - <%= hairlog.date.toLocaleDateString() %>
            </a>
        </li>
        <% }) %>
      </ul>
  </body>
</html>
