<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Hair Log</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1><%= hairlog.title %> - <%= hairlog.date.toLocaleDateString() %></h1>

    <ul>
      <% if (hairlog.entryType) { %>
        <li><strong>Entry Type:</strong> <%= hairlog.entryType %></li>
      <% } %>


      <% if (hairlog.hairCondition) { %>
        <li><strong>Hair Condition:</strong> <%= hairlog.hairCondition %></li>
      <% } %>

      <% if (hairlog.scalpCondition) { %>
        <li><strong>Scalp Condition:</strong> <%= hairlog.scalpCondition %></li>
      <% } %>

      <% if (hairlog.protectiveStyle) { %>
        <li><strong>Protective Style:</strong> <%= hairlog.protectiveStyle %></li>
      <% } %>

      <% if (hairlog.productsUsed) { %>
        <li><strong>Products Used:</strong> <%= hairlog.productsUsed %></li>
      <% } %>

      <% if (hairlog.washDay) { %>
        <li><strong>Wash Day:</strong> <%= hairlog.washDay %></li>
      <% } %>

      <% if (hairlog.notes) { %>
        <li><strong>Notes:</strong> <%= hairlog.notes %></li>
      <% } %>
    </ul>
    <a href="/users/<%= user._id %>/hairlogs/<%= hairlog._id %>/edit">
        Edit this log
      </a>

    <form
      action="/users/<%= user._id %>/hairlogs/<%= hairlog._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this Log</button>
    </form>

    <a href="/users/<%= user._id %>/hairlogs">Back to All Hair Logs</a>
  </body>
</html>